export(AcceptReject)
export(AgeDeathLT)
export(CoefVar)
export(CumulativeSurvival)
export(DigitizeKM)
export(DistFind)
export(FindIt)
export(InfoTable)
export(InverseGamma)
export(InverseSurvival)
export(InverseUniform)
export(InvExponential)
export(PresentValueCont)
export(PresentValueOne)
export(PSSRU)
export(RefCostRange)
export(SumWeights)
import(ggplot2)
import(gridExtra)
import(plyr)
import(reshape)
import(survival)
